{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Block Management</title>
</head>


{% block content %}
    <div id="welcome">

    </div>



    <script type="text/babel">


        class BlockComponent extends React.Component {
            constructor(props) {
                super(props);
                this.state = {block_id: '', block_name: ''}
                this.submitSave = this.submitSave.bind(this);
                this.onChange = this.onChange.bind(this);
                this.onCancel = this.onCancel.bind(this);
            }

            submitSave() {
                this.props.onSaveAction();
            }

            onChange(e) {
                this.props.onChangeAction(e);
            }

            onCancel(e) {
                this.props.onCancelAction(e);
            }


            render() {
                return <div>
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3>Block Management</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row ">
                                <label for="txtBlocKID" class="col-sm-1 col-form-label">Block ID</label>
                                <input class="form-control col-sm-5"
                                       disabled={(this.props.status == 'new') ? '' : 'disabled'} type="text"
                                       name="txtBlockID"
                                       onChange={this.onChange}
                                       value={this.props.block_id}/>
                            </div>
                            <div class="form-group row">
                                <label for="txtBlockName" class="col-sm-1 col-form-label">Block Name</label>
                                <input class="form-control col-sm-5" type="text" name="txtBlockName"
                                       onChange={this.onChange}
                                       value={this.props.block_name}/>
                            </div>
                            <button id="btnSave" class="btn btn-primary" onClick={this.submitSave}>Save</button>
                            &nbsp;
                            <button id="btnCancel" onClick={this.onCancel} disabled={this.props.status == 'new'}
                                    class="btn">Cancel
                            </button>
                        </div>
                    </div>

                </div>;
            }
        }

        const requestDefaultDeleteOption = {
            method: 'DELETE',
            headers: {'Content-Type': 'application/json'},
        }


        const requestDefaultGetOption = {
            method: 'GET',
            headers: {'Content-Type': 'application/json'},
        }

        const requestOptionsPOST = {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
        }


        const requestOptionsPUT = {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
        }

        class BlockListComponent extends React.Component {
            constructor(props) {
                super(props);
                this.refreshTable = this.refreshTable.bind(this);
                this.onEdit = this.onEdit.bind(this);

                this.onDelete = this.onDelete.bind(this);
            }

            refreshTable() {
                this.props.refreshTableAction();
            }

            onEdit(event) {

                this.props.onEditAction(event.target.value);
            }

            onDelete(event) {

                let ans = confirm('Are you sure you want to delete this?');

                if (!ans)
                    return;

                this.props.onDeleteAction(event.target.value);
            }


            render() {
                let rows = '';
                if (this.props.blocks)

                    rows = this.props.blocks.map(value => {
                        return <tr key={value.block_id}>
                            <td>
                                {value.block_id}
                            </td>
                            <td>
                                {value.block_name}
                            </td>
                            <td>
                                <button class="btn btn-primary" value={value.block_id} onClick={this.onEdit}>Edit
                                </button>
                                &nbsp;
                                <button class="btn btn-warning" value={value.block_id} onClick={this.onDelete}>Delete
                                </button>

                            </td>
                        </tr>
                    })

                return <div>
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            Block List
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>Block ID</th>
                                    <th>Block Name</th>
                                    <th>Action</th>

                                </tr>
                                {rows}
                            </table>
                        </div>
                    </div>

                </div>;

            }
        }


        class ParentComponent extends React.Component {


            refreshTable() {
                const requestOptions = {
                    ...requestDefaultGetOption,
                };

                fetch('/condoblocks', requestOptions).then((response) => {

                    if (response.status == 200)
                        response.json().then((data) => {

                            this.setState(data);
                        });

                });
            }

            componentDidMount() {
                this.refreshTable();
            }

            constructor(props) {
                super(props);
                this.refreshTable = this.refreshTable.bind(this);
                this.onSave = this.onSave.bind(this);
                this.onChange = this.onChange.bind(this);
                this.onEdit = this.onEdit.bind(this);
                this.onDelete = this.onDelete.bind(this);
                this.state = {block_id: '', block_name: '', status: 'new'}
                this.onCancel = this.onCancel.bind(this);

            }

            onCancel() {
                this.setState({block_id: '', block_name: ''});
                this.setState({status: 'new'});
            }

            onEdit(id) {
                const requestOptions = {
                    ...requestDefaultGetOption,
                };

                fetch(`/condoblocks/${id}`, requestOptions).then((response) => {
                    if (response.status == 404)
                        alert('request not found')
                    else {
                        response.json().then((data) => {
                            this.setState({block_id: data.condoblock.block_id, block_name: data.condoblock.block_name});
                            this.setState({status: 'edit'});

                        })
                    }


                });

            }

            onDelete(id) {
                const requestOptions =
                    {
                        ...requestDefaultDeleteOption,
                    };

                fetch(`/condoblocks/${id}`, requestOptions).then((response) => {
                    if (response.status == 200) {
                        alert('Record deleted');
                        this.refreshTable();
                    }
                });
            }


            onSave() {
                const requestOptions =
                    {
                        ...requestOptionsPOST,
                        body: JSON.stringify({block_id: this.state.block_id, block_name: this.state.block_name})
                    };
                if (this.state.status == 'new') {


                    fetch(`/condoblocks`, requestOptions).then(
                        (response) => {
                            if (response.status == 409 || response.status == 509) {

                                response.json().then((resp) => alert(resp));
                            } else if (response.status == 200) {
                                alert('Block ID saved');
                                this.setState(
                                    {block_id: '', block_name: ''}
                                );

                                this.refreshTable();
                            }
                        });
                } else {
                    const requestOptions =
                        {
                            ...requestOptionsPUT,
                            body: JSON.stringify({block_id: this.state.block_id, block_name: this.state.block_name})
                        };

                    fetch(`/condoblocks/${this.state.block_id}`, requestOptions).then(
                        (response) => {
                            if (response.status == 200) {
                                alert('Updated successfully');

                                this.setState(
                                    {block_id: '', block_name: '', status: 'new'}
                                );

                                this.refreshTable();
                            }

                        }
                    );
                }
            }

            onChange(e) {
                if (e.target.name === 'txtBlockID') {
                    this.setState({
                        block_id: e.target.value
                    });
                } else if (e.target.name === 'txtBlockName') {
                    this.setState({
                        block_name: e.target.value
                    });
                }
            }


            render() {

                return <div>
                    <BlockComponent onCancelAction={this.onCancel}
                                    onSaveAction={this.onSave} status={this.state.status} onChangeAction={this.onChange}
                                    block_id={this.state.block_id} block_name={this.state.block_name}
                    />

                    <BlockListComponent blocks={this.state.condoblocks}
                                        onEditAction={this.onEdit}
                                        onDeleteAction={this.onDelete}
                                        refreshTableAction={this.refreshTable}/>
                </div>

            }
        }


        ReactDOM.render(
            <ParentComponent/>,
            document.getElementById('welcome')
        );
    </script>

{% endblock %}