{% extends 'main.html' %}c

<head>
    <meta charset="UTF-8">
    <title>Unit Management</title>


</head>
<body>
{% block content %}

<div id="welcome">

</div>

</body>
</html>


<script type="text/babel">


    class BlockComponent extends React.Component {


        constructor(props) {
            super(props);
            this.submitSave = this.submitSave.bind(this);
            this.onChange = this.onChange.bind(this);
            this.onCancel = this.onCancel.bind(this);


            this.state = {condos: []}
        }

        onCancel() {
            this.props.onCancelAction()
        }

        componentDidMount() {

            fetch('/condoblocks', requestDefaultGetOption).then((response) => {

                if (response.status == 200) {
                    response.json().then((jsonInfo) => {
                            this.setState({condos: jsonInfo.condoblocks});
                            if (this.props.block_id == '')
                                if (jsonInfo.condoblocks.length > 0) {
                                    this.props.changeOptionBlockIDAction(jsonInfo.condoblocks[0].block_id);
                                }
                        }
                    );
                }
            });

        }

        submitSave() {
            this.props.onSaveAction()
        }

        onChange(e) {
            this.props.onChangeAction(e);
        }


        render() {

            // generate option
            let condoOptions = '';
            if (this.state.condos) {
                condoOptions = this.state.condos.map((value) => {
                        return <option key={value.block_id} value={value.block_id}
                                       selected={(value.block_id == this.props.block_id) ? 'selected' : ''}
                        >{value.block_name}</option>;
                    }
                )
            }
            return <div>
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h3>Unit Management</h3>
                    </div>
                    <div class="card-body">

                        <div class="form-group row">

                            <label for="optBlockID" class="col-sm-1 col-form-label">Block Name </label>

                            <select name="optBlockID" class="form-control col-sm-5" id="optBlockID"
                                    onChange={this.onChange} disabled={(this.props.status == 'new') ? '' : 'disabled'}>

                                {condoOptions}
                            </select>
                            <label for="txtBlocKID" class="col-sm-1 col-form-label">Block ID</label>
                            <input class="form-control col-sm-1" disabled={true}
                                   type="text" name="txtBlockID"
                                   value={this.props.block_id}/>
                        </div>
                        <div class="form-group row">

                            <label for="txtUnitName" class="col-sm-1 col-form-label">Unit Name</label>

                            <input class="form-control col-sm-5" type="text" name="txtUnitName"
                                   disabled={(this.props.status == 'new') ? '' : 'disabled'}
                                   onChange={this.onChange}
                                   value={this.props.unit_name}/>

                        </div>
                        <div class="form-group row">
                            <label for="txtContactPerson" class="col-sm-1 col-form-label">Contact Person </label>

                            <input type="text" class="form-control col-sm-5" name="txtContactPerson"
                                   onChange={this.onChange}
                                   value={this.props.contact_person}/>
                        </div>
                        <div class="form-group row">
                            <label for="txtContact" class="col-sm-1 col-form-label">Contact </label>

                            <input type="text" name="txtContact" onChange={this.onChange}
                                   value={this.props.contact}/>
                        </div>
                        <button class="btn btn-primary" id="btnSave" onClick={this.submitSave}>Save</button>
                        <button class="btn" id="btnCancel" onClick={this.onCancel}>Cancel</button>

                    </div>
                </div>
            </div>;
        }
    }

    const requestDefaultDeleteOption = {
        method: 'DELETE',
        headers: {'Content-Type': 'application/json'},
    }


    const requestDefaultGetOption = {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
    }

    const requestOptionsPOST = {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
    }


    const requestOptionsPUT = {
        method: 'PUT',
        headers: {'Content-Type': 'application/json'},
    }

    const url = '/condounits'

    class BlockListComponent extends React.Component {
        constructor(props) {
            super(props);
            this.refreshTable = this.refreshTable.bind(this);
            this.onEdit = this.onEdit.bind(this);

            this.onDelete = this.onDelete.bind(this);
        }


        refreshTable() {
            this.props.refreshTableAction();
        }

        onEdit(event) {
            let unit_name = event.target.getAttribute('unit_name');
            this.props.onEditAction(event.target.value, unit_name);
        }

        onDelete(event) {

            let ans = confirm('Are you sure you want to delete this?');

            if (!ans)
                return;
            let unit_name = event.target.getAttribute('unit_name');

            this.props.onDeleteAction(event.target.value, unit_name);
        }


        render() {
            let rows = '';
            if (this.props.units)

                rows = this.props.units.map(value => {
                    return <tr key={value.block_id + value.unit_name}>
                        <td>
                            {value.block_id}
                        </td>
                        <td>
                            {value.unit_name}
                        </td>
                        <td>
                            {value.contact_person}
                        </td>
                        <td>
                            {value.contact}
                        </td>
                        <td>
                            <button class="btn btn-primary" value={value.block_id} unit_name={value.unit_name}
                                    onClick={this.onEdit}>Edit
                            </button>
                            &nbsp;
                            <button class="btn btn-warning" value={value.block_id} unit_name={value.unit_name}
                                    onClick={this.onDelete}>Delete
                            </button>

                        </td>
                    </tr>
                })

            return <div>
                <div class="card">
                    <div class="card-header">
                        Unit List
                    </div>
                    <div class="card-body">

                        <table class="table">
                            <tr>
                                <th>Block ID</th>
                                <th>Unit Name</th>
                                <th>Contact Name</th>

                                <th>Contact</th>
                                <th>Action</th>

                            </tr>
                            {rows}
                        </table>
                    </div>
                </div>

            </div>
                ;

        }
    }


    class ParentComponent extends React.Component {


        refreshTable() {
            const requestOptions = {
                ...requestDefaultGetOption,
            };

            fetch(url, requestOptions).then((response) => {

                if (response.status == 200)
                    response.json().then((data) => {

                        this.setState(data);
                    });

            });
        }

        componentDidMount() {
            this.refreshTable();
        }

        constructor(props) {
            super(props);
            this.refreshTable = this.refreshTable.bind(this);
            this.onSave = this.onSave.bind(this);
            this.onChange = this.onChange.bind(this);
            this.onEdit = this.onEdit.bind(this);
            this.onDelete = this.onDelete.bind(this);
            this.changeOptionBlockID = this.changeOptionBlockID.bind(this);
            this.state = {block_id: '', unit_name: '', contact_person: '', contact: '', status: 'new'}
            this.onCancel = this.onCancel.bind(this);
        }

        onCancel() {
            this.setState(
                {
                    block_id: '', block_name: '', unit_name: '', contact_person: '', contact: '',
                    status: 'new'
                }
            );
        }

        onEdit(block_id, unit_name) {
            const requestOptions = {
                ...requestDefaultGetOption,
            };

            fetch(`${url}/${block_id}/${unit_name}`, requestOptions).then((response) => {
                if (response.status == 404)
                    alert('request not found')
                else {
                    response.json().then((data) => {
                        this.setState({
                            block_id: data.condounit.block_id,
                            unit_name: data.condounit.unit_name,
                            contact_person: data.condounit.contact_person,
                            contact: data.condounit.contact
                        });
                        this.setState({status: 'edit'});

                    })
                }


            });

        }

        onDelete(block_id, unit_name) {
            const requestOptions =
                {
                    ...requestDefaultDeleteOption,
                };

            fetch(`${url}/${block_id}/${unit_name}`, requestOptions).then((response) => {
                if (response.status == 200) {
                    alert('Record deleted');
                    this.refreshTable();
                }
            });
        }


        onSave() {
            const requestOptions =
                {
                    ...requestOptionsPOST,
                    body: JSON.stringify({
                        block_id: this.state.block_id,
                        unit_name: this.state.unit_name,
                        contact_person: this.state.contact_person,
                        contact: this.state.contact
                    })
                };
            if (this.state.status == 'new') {


                let mypromise = fetch(`${url}`, requestOptions).then(
                    (response) => {
                        if (response.status == 409) {

                            response.json().then((resp) => alert(resp));
                        } else if (response.status == 200) {
                            alert('Unit No saved');
                            this.setState(
                                {block_id: this.state.default_block_id, contact_person: '', contact: '', unit_name: ''}
                            );

                            this.refreshTable();
                        }
                        return "ok";
                    }
                );

                return mypromise;


            } else {
                const requestOptions =
                    {
                        ...requestOptionsPUT,
                        body: JSON.stringify({
                            block_id: this.state.block_id,
                            unit_name: this.state.unit_name,
                            contact_person: this.state.contact_person,
                            contact: this.state.contact
                        })
                    };

                fetch(`${url}/${this.state.block_id}/${this.state.unit_name}`, requestOptions).then(
                    (response) => {
                        if (response.status == 200) {
                            alert('Updated successfully');

                            this.setState(
                                {
                                    block_id: '', block_name: '', unit_name: '', contact_person: '', contact: '',
                                    status: 'new'
                                }
                            );

                            this.refreshTable();
                        }

                    }
                );
            }
        }

        changeOptionBlockID(value) {
            this.setState({
                block_id: value,
                default_block_id: value
            });

        }

        onChange(e) {
            if (e.target.name === 'optBlockID') {
                this.setState({
                    block_id: e.target.value
                });
            } else if (e.target.name === 'txtContactPerson') {
                this.setState({
                    contact_person: e.target.value
                });
            } else if (e.target.name === 'txtUnitName') {
                this.setState({
                    unit_name: e.target.value
                });
            } else if (e.target.name === 'txtContact') {
                this.setState({
                    contact: e.target.value
                });
            }
        }


        render() {

            return <div>
                <BlockComponent onSaveAction={this.onSave}
                                onCancelAction={this.onCancel}
                                status={this.state.status} onChangeAction={this.onChange}
                                block_id={this.state.block_id}
                                contact_person={this.state.contact_person}
                                unit_name={this.state.unit_name}
                                contact={this.state.contact}
                                changeOptionBlockIDAction={this.changeOptionBlockID}

                />

                <BlockListComponent units={this.state.condounits}
                                    onEditAction={this.onEdit}
                                    onDeleteAction={this.onDelete}
                                    refreshTableAction={this.refreshTable}
                />
            </div>

        }
    }


    ReactDOM.render(
        <ParentComponent/>,
        document.getElementById('welcome')
    );
</script>

{% endblock %}