<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Tribe Car Condo Management</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Load React -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
<div class="row" id="wrapper">
    <!-- Sidebar-->
    <div class="col-md-1 border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/blockmanagement">Block Management</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/unitmanagement">Unit Management</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/visitormanagement">Visitor Management</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/reportmanagement">Report Management</a>
        </div>
    </div>
    <!-- Page content wrapper-->
        <!-- Top navigation-->

        <!-- Page content-->
        <div class="col" >
            {% block content %}{% endblock %}

        </div>
</div>
<!-- Bootstrap core JS-->
</body>
</html>