{% extends 'main.html' %}


{% block content %}

    <meta charset="UTF-8">
    <title>Report Management</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">


    <!-- Load React -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <div id="welcome">

    </div>


    <script type="text/babel">


        class BlockComponent extends React.Component {

            constructor(props) {
                super(props);
                this.submitSave = this.submitSave.bind(this);
                this.onChange = this.onChange.bind(this);
                this.onRefresh = this.onRefresh.bind(this);
                this.createNewVisitor = this.createNewVisitor.bind(this);
                this.onSaveVisitor = this.onSaveVisitor.bind(this)
                this.state = {
                    see_not_checkedout: false,
                    block_id: '',
                    block_name: '',
                    units: [],
                    unit_name: '',
                    condos: [],
                    contact_number: '',
                    ic_no: '',
                    visitor_name: '',
                    checkin_date_end: '',
                    checkin_date_start: '',
                    checkout_date_start: '',
                    checkout_date_end: ''
                }
            }


            onSaveVisitor() {
                const requestOptions =
                    {
                        ...requestOptionsPOST,
                        body: JSON.stringify({
                            contact_number: this.state.contact_number,
                            ic_no: this.state.ic_no,
                            visitor_name: this.state.visitor_name,
                        })
                    };
                let mypromise = fetch(`/visitors`, requestOptions).then(
                    (response) => {
                        if (response.status == 409) {

                            response.json().then((resp) => alert(resp));
                        } else if (response.status == 200) {
                            alert('Visitor saved');
                            $('#visitorModal').modal('toggle');

                        }
                        return "ok";
                    }
                );
            }

            componentDidMount() {

                $("#txtCheckInDateEnd").datetimepicker({format: 'd/m/Y H:i'});
                $("#txtCheckInDateStart").datetimepicker({format: 'd/m/Y H:i'});
                $("#txtCheckOutDateStart").datetimepicker({format: 'd/m/Y H:i'});
                $("#txtCheckOutDateEnd").datetimepicker({format: 'd/m/Y H:i'});

                $("#txtCheckoutTime").datetimepicker({format: 'd/m/Y H:i'});

                fetch('/condoblocks', requestDefaultGetOption).then((response) => {

                    if (response.status == 200) {
                        response.json().then((jsonInfo) => {
                                this.setState({condos: jsonInfo.condoblocks});

                                this.setState({block_id: ''});
                            }
                        );
                    }
                });

            }

            onRefresh() {

                this.setState({visitorunits: []});
                this.setState({visitor_count: 0});

                let dataToBeSent = {
                    block_id: this.state.block_id,
                    block_name: this.state.block_name,
                    visitor_name: this.state.visitor_name,
                    contact_number: this.state.contact_number,
                    ic_no: this.state.ic_no,
                    unit_name: this.state.unit_name,
                    see_not_checkedout: this.state.see_not_checkedout


                }

                if (this.state.checkin_date_start != "")
                    dataToBeSent["checkin_date_start"] = moment(this.state.checkin_date_start, dateFormat).utc().format()

                if (this.state.checkin_date_end != "")
                    dataToBeSent["checkin_date_end"] = moment(this.state.checkin_date_end, dateFormat).utc().format()

                if (this.state.checkout_date_start != "")
                    dataToBeSent["checkout_date_start"] = moment(this.state.checkout_date_start, dateFormat).utc().format()

                if (this.state.checkout_date_end != "")
                    dataToBeSent["checkout_date_end"] = moment(this.state.checkout_date_end, dateFormat).utc().format()


                fetch(
                    `/reports?` + new
                    URLSearchParams(dataToBeSent)
                ).then(
                    response => {

                        if (response.status == 200) {
                            response.json().then(
                                data => {
                                    this.setState({reports: data.reports})
                                }
                            )
                        }
                    });


            }

            submitSave() {
                this.props.onSaveAction()
            }

            createNewVisitor() {
                $('#visitorModal').modal('toggle');

            }

            refreshUnitName(block_id) {

                fetch(`/condounits?block_id=${block_id}`, requestDefaultGetOption).then((response) => {

                        if (response.status == 200) {
                            response.json().then((jsonInfo) => {
                                this.setState({units: jsonInfo.condounits});
                                this.setState({
                                    unit_name: ""
                                });

                            });
                        }
                    }
                );


            }


            onChange(e) {


                if (e.target.name == 'chkSeeNotCheckedOut') {
                    this.setState({see_not_checkedout: e.target.checked});

                }
                if (e.target.name == 'txtBlockName') {
                    this.setState({block_name: e.target.value});
                }

                if (e.target.name == 'txtCheckInDateEnd') {
                    this.setState({checkin_date_end: e.target.value})
                }

                if (e.target.name == 'txtCheckInDateStart') {
                    this.setState({checkin_date_start: e.target.value})
                }


                if (e.target.name == 'txtCheckOutDateStart') {
                    this.setState({checkout_date_start: e.target.value})
                }

                if (e.target.name == 'txtCheckOutDateEnd') {
                    this.setState({checkout_date_end: e.target.value})
                }

                if (e.target.name == 'txtCheckoutTime') {
                    this.setState({
                        checkout_time: e.target.value
                    });
                }
                if (e.target.name === 'optBlockID') {
                    let originalBlockID = this.state.block_id;

                    if (!(e.target.value == originalBlockID)) {
                        this.setState({
                            block_id: e.target.value
                        });

                        this.refreshUnitName(e.target.value)


                    }


                } else if (e.target.name == 'optUnitName') {

                    this.setState({
                        unit_name: e.target.value
                    });


                } else if (e.target.name === 'txtVisitorContactNumber') {
                    this.setState({
                        contact_number: e.target.value
                    });
                } else if (e.target.name === 'txtVisitorICNo') {
                    this.setState({
                        ic_no: e.target.value
                    });
                } else if (e.target.name == 'txtVisitorName') {
                    this.setState({
                        visitor_name: e.target.value
                    });
                }

            }


            render() {

                // generate option
                let condoOptions = '';
                let unitOptions = '';
                if (this.state.condos) {
                    condoOptions = this.state.condos.map((value) => {
                            return <option key={value.block_id} value={value.block_id}
                                           selected={(value.block_id == this.state.block_id) ? 'selected' : ''}
                            >{value.block_name}</option>;
                        }
                    )
                }

                if (this.state.units) {
                    unitOptions = this.state.units.map((value) => {
                            return <option key={value.unit_name} value={value.unit_name}
                                           selected={(value.unit_name == this.state.unit_name) ? 'selected' : ''}
                            >{value.unit_name}</option>;
                        }
                    )
                }
                return <div>
                    <div class="card">
                        <div class="bg-primary text-white card-header">
                            <h5>Filter</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="form-group row">

                                        <label for="txtVisitorContactNumber" class="col-sm-6">Visitor Contact No</label>

                                        <input className="form-input" name="txtVisitorContactNumber" type="text"
                                               value={this.state.contact_number}
                                               onChange={this.onChange}/>
                                    </div>
                                    <div class="form-group row">

                                        <label for="txtVisitorICNo" class="col-sm-6">Visitor Last IC No</label>

                                        <input name="txtVisitorICNo" type="text" value={this.state.ic_no}
                                               onChange={this.onChange}/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtVisitorName" class="col-sm-6">Visitor Name </label>
                                        <input name="txtVisitorName" type="text" value={this.state.visitor_name}
                                               onChange={this.onChange}/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtBlockName" class="col-sm-6">Block Name </label>
                                        <input name="txtBlockName" type="text" value={this.state.block_name}
                                               onChange={this.onChange}/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="optBlockID" class="col-sm-4">Block </label>

                                        <select name="optBlockID" id="optBlockID" onChange={this.onChange}>

                                            <option value="">All</option>
                                            {condoOptions}
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="optUnitName" class="col-sm-4">Unit</label>
                                        <select name="optUnitName" id="optUnitName" onChange={this.onChange}>
                                            <option value="">All</option>

                                            {unitOptions}
                                        </select>
                                    </div>
                                    <div class="form-group row">

                                        <label for="txtCheckInDateStart" class="col-sm-4">Check In Date</label>

                                        <input type="text" name="txtCheckInDateStart" id="txtCheckInDateStart" size="10"
                                               onBlur={this.onChange}/>
                                        to <input type="text" name="txtCheckInDateEnd" id="txtCheckInDateEnd" size="10"
                                                  onBlur={this.onChange}/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtCheckOutDateStart" class="col-sm-4">Check Out Date</label>
                                        <input type="text" name="txtCheckOutDateStart" id="txtCheckOutDateStart"
                                               size="10"
                                               onBlur={this.onChange}/> to <input type="text" size="10"
                                                                                  id="txtCheckOutDateEnd"
                                                                                  name="txtCheckOutDateEnd"
                                                                                  onBlur={this.onChange}/>

                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4"></div>
                                        <div class="col">
                                            <input type="checkbox" class="form-check-input" onClick={this.onChange}
                                                   id="chkSeeNotCheckedOut" name="chkSeeNotCheckedOut" />
                                            <label for="chkSeeNotCheckedOut" class="form-check-label">Show not checked
                                                out
                                                only
                                            </label>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            <button class="btn btn-primary" onClick={this.onRefresh}>Refresh</button>
                        </div>
                    </div>
                    <br/>


                    <BlockListComponent reports={this.state.reports}
                            {#onEditAction={this.onEdit}#}
                            {#onDeleteAction={this.onDelete}#}
                            {#refreshTableAction={this.refreshTable}#}
                    />


                </div>
                    ;
            }
        }

        const requestDefaultDeleteOption = {
            method: 'DELETE',
            headers: {'Content-Type': 'application/json'},
        }


        const requestDefaultGetOption = {
            method: 'GET',
            headers: {'Content-Type': 'application/json'},
        }

        const requestOptionsPOST = {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
        }

        const requestOptionsPatch = {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
        }


        const requestOptionsPUT = {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
        }

        const url = '/condounits'
        const dateFormat = 'DD/MM/YYYY HH:mm';

        class BlockListComponent extends React.Component {
            constructor(props) {
                super(props);
                this.refreshTable = this.refreshTable.bind(this);

                this.saveCheckOut = this.saveCheckOut.bind(this);
                this.checkOutNow = this.checkOutNow.bind(this);
                this.state = {checkout_time: moment().format(dateFormat)}
                this.onChange = this.onChange.bind(this);
            }


            onChange(e) {
                this.setState({checkout_time: e.target.value})
            }

            checkOutNow(e) {
                this.setState({current_visit_id: e.target.value});
                $("#checkOutModal").modal('toggle');
            }

            saveCheckOut(e) {
                let dataToBeSent = {
                    visitor_unit_id: this.state.current_visit_id,
                    date_checkout: moment(this.state.checkout_time, dateFormat).utc().format()
                }

                let requestOption = {
                    ...requestOptionsPatch,
                    body: JSON.stringify(dataToBeSent)
                }

                fetch(`/visitorupdatecheckout/${this.state.current_visit_id}`, requestOption).then((response) => {
                    if (response.status == 200) {
                        alert('Successful save checkout')
                        $("#checkOutModal").modal('toggle');
                    } else {
                        response.json().then(data => alert(data))
                    }
                })


            }

            refreshTable() {
                this.props.refreshTableAction();
            }


            render() {
                let rows = '';
                if (this.props.reports)
                    rows = this.props.reports.map(value => {
                        return <tr key={value.visitorUnit.id}>
                            <td>
                                {value.visitor.visitor_name}
                            </td>
                            <td>
                                {value.visitorUnit.block_id}
                            </td>
                            <td>
                                {value.visitorUnit.unit_name}

                            </td>
                            <td>
                                {moment(value.visitorUnit.date_visited).format(dateFormat)}
                            </td>
                            <td>

                                {(value.visitorUnit.date_checkout) ? moment(value.visitorUnit.date_checkout).format(dateFormat) :
                                    <button class="btn btn-success" value={value.visitorUnit.id}
                                            onClick={this.checkOutNow}>Check out
                                        now</button>}
                            </td>
                            <td>


                            </td>
                        </tr>
                    })

                return <div>
                    <table class="table">
                        <tr>
                            <th>Visitor Name</th>

                            <th>Block ID</th>
                            <th>Unit Name</th>
                            <th>Date Visited</th>
                            <th>Date Checked Out</th>
                        </tr>
                        {rows}
                    </table>

                    <div id="checkOutModal" class="modal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Checkout Date <input id="txtCheckoutTime" name="txtCheckoutTime" type="text"
                                                         value={this.state.checkout_time}

                                                         onBlur={this.onChange}/>
                                </div>
                                <div class="modal-footer">
                                    <button id="btnSaveCheckout" type="button" class="btn btn-primary"
                                            onClick={this.saveCheckOut}>Save
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>;

            }
        }


        ReactDOM.render(
            <BlockComponent/>,
            document.getElementById('welcome')
        );
    </script>

{% endblock %}