{% extends 'main.html' %}

{% block content %}


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <div id="welcome">

    </div>



    <script type="text/babel">


        class BlockComponent extends React.Component {

            constructor(props) {
                super(props);
                this.submitSave = this.submitSave.bind(this);
                this.recordVisit = this.recordVisit.bind(this);
                this.onChange = this.onChange.bind(this);
                this.onRefresh = this.onRefresh.bind(this);
                this.createNewVisitor = this.createNewVisitor.bind(this);
                this.onSaveVisitor = this.onSaveVisitor.bind(this)
                this.refreshLast3Visit = this.refreshLast3Visit.bind(this);
                this.refreshBoth = this.refreshBoth.bind(this);
                this.state = {block_id: '', units: [], condos: [], contact_number: '', ic_no: '', visitor_name: ''}
            }

            recordVisit() {
                const requestOptions =
                    {
                        ...requestOptionsPOST,
                        body: JSON.stringify({
                            contact_number: this.state.visitor_found_contact_number,
                            ic_no: this.state.visitor_found_ic_no,
                            block_id: this.state.block_id,
                            unit_name: this.state.unit_name
                        })
                    };

                fetch('/visitorvisits', requestOptions).then((response) => {
                    if (response.status == 200) {
                        alert('Saved succcessfully');
                        this.refreshLast3Visit();
                        this.checkVisitorCount(this.state.block_id, this.state.unit_name);

                    } else {
                        response.json().then(data => alert(data));
                    }
                });


            }

            onSaveVisitor() {
                const requestOptions =
                    {
                        ...requestOptionsPOST,
                        body: JSON.stringify({
                            contact_number: this.state.contact_number,
                            ic_no: this.state.ic_no,
                            visitor_name: this.state.visitor_name,
                        })
                    };
                let mypromise = fetch(`/visitors`, requestOptions).then(
                    (response) => {
                        if (response.status == 409) {

                            response.json().then((resp) => alert(resp));
                        } else if (response.status == 200) {
                            alert('Visitor saved');
                            this.setState({
                                visitor_found_ic_no: this.state.ic_no,
                                visitor_found_contact_number: this.state.contact_number,
                                visitor_found: true,
                                found_visitor_name: this.state.visitor_name,

                            });
                            $('#visitorModal').modal('toggle');

                        }
                        return "ok";
                    }
                );
            }

            componentDidMount() {

                $("#txtCheckoutTime").datetimepicker({format: 'd/m/Y H:i'});

                fetch('/condoblocks', requestDefaultGetOption).then((response) => {

                    if (response.status == 200) {
                        response.json().then((jsonInfo) => {
                                this.setState({condos: jsonInfo.condoblocks});

                                if (this.state.block_id == '')
                                    if (jsonInfo.condoblocks.length > 0) {
                                        this.setState({block_id: jsonInfo.condoblocks[0].block_id});
                                        this.refreshUnitName(jsonInfo.condoblocks[0].block_id);
                                    }
                            }
                        );
                    }
                });

            }

            onRefresh() {
                console.log('on refresh')
                this.setState({visitorunits: []});
                this.setState({
                    visitor_found_ic_no: this.state.ic_no,
                    visitor_found_contact_number: this.state.contact_number
                });

                fetch(`/visitor/${this.state.contact_number}/${this.state.ic_no}`).then((response) => {

                    if (response.status == 200) {
                        response.json().then((data) => {
                            this.setState({
                                    visitor_found: true,
                                    visitor_name: data.visitor.visitor_name,
                                    found_visitor_name: data.visitor.visitor_name
                                }, this.refreshLast3Visit()
                            );
                            this.checkVisitorCount(this.state.block_id, this.state.unit_name);
                        })
                    } else {
                        this.setState({visitor_found: false, visitor_name: ''});
                    }
                });



            }

            refreshBoth() {
                this.refreshLast3Visit();
                                            this.checkVisitorCount(this.state.block_id, this.state.unit_name);

            }

            refreshLast3Visit() {
                fetch(`/visitorvisits?contact_number=${this.state.visitor_found_contact_number}&ic_no=${this.state.visitor_found_ic_no}`).then((response) => {

                    if (response.status == 200) {
                        response.json().then((data) => this.setState({visitorunits: data.visitorunits}));
                    }
                });
            }

            submitSave() {
                this.props.onSaveAction()
            }

            createNewVisitor() {
                $('#visitorModal').modal('toggle');

            }

            refreshUnitName(block_id) {

                fetch(`/condounits?block_id=${block_id}`, requestDefaultGetOption).then((response) => {

                    if (response.status == 200) {
                        response.json().then((jsonInfo) => {
                            this.setState({units: jsonInfo.condounits});

                            if (jsonInfo.condounits.length > 0)
                                this.setState({unit_name: jsonInfo.condounits[0].unit_name})
                            this.checkVisitorCount(block_id, jsonInfo.condounits[0].unit_name);

                        });
                    }
                });


            }

            checkVisitorCount(block_id, unit_name) {
                console.log('visitor count');
                fetch(`/visitorcountbyblockandunit?block_id=${block_id}&unit_name=${unit_name}`, requestDefaultGetOption).then((response) => {
                    if (response.status == 200) {
                        response.json().then((count) => this.setState({visitor_count: count}))
                    }
                });

            }

            onChange(e) {

                if (e.target.name == 'txtCheckoutTime') {
                    this.setState({
                        checkout_time: e.target.value
                    });
                }
                if (e.target.name === 'optBlockID') {
                    let originalBlockID = this.state.block_id;

                    if (!(e.target.value == originalBlockID)) {
                        this.setState({
                            block_id: e.target.value
                        });

                        this.refreshUnitName(e.target.value)


                    }


                } else if (e.target.name == 'optUnitName') {

                    this.setState({
                        unit_name: e.target.value
                    });

                    this.checkVisitorCount(this.state.block_id, e.target.value);

                } else if (e.target.name === 'txtVisitorContactNumber') {
                    this.setState({
                        contact_number: e.target.value
                    });
                } else if (e.target.name === 'txtVisitorICNo') {
                    this.setState({
                        ic_no: e.target.value
                    });
                } else if (e.target.name == 'txtVisitorName') {
                    this.setState({
                        visitor_name: e.target.value
                    });
                }

            }


            render() {

                // generate option
                let condoOptions = '';
                let unitOptions = '';
                if (this.state.condos) {
                    condoOptions = this.state.condos.map((value) => {
                            return <option key={value.block_id} value={value.block_id}
                                           selected={(value.block_id == this.state.block_id) ? 'selected' : ''}
                            >{value.block_name}</option>;
                        }
                    )
                }

                if (this.state.units) {
                    unitOptions = this.state.units.map((value) => {
                            return <option key={value.unit_name} value={value.unit_name}
                                           selected={(value.unit_name == this.state.unit_name) ? 'selected' : ''}
                            >{value.unit_name}</option>;
                        }
                    )
                }
                return <div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="card">
                                <div class="card-header">
                                    Find Contact
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">

                                        <label class="col-sm-3 col-form-label" for="txtVisitorContactNumber">Visitor
                                            Contact
                                            No</label>
                                        <input class="form-input" name="txtVisitorContactNumber" type="text"
                                               value={this.state.contact_number}
                                               onChange={this.onChange}/>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="txtVisitorICNo">Visitor Last IC
                                            No</label>

                                        <input
                                            class="form-input" name="txtVisitorICNo" type="text"
                                            value={this.state.ic_no}
                                            onChange={this.onChange}/>
                                    </div>
                                    <div class="form-group row">

                                        <label class="col-sm-3 col-form-label" for="txtVisitorName">Visitor Name</label>

                                        <input
                                            class="form-input" disabled={true} readOnly={true} name="txtVisitorName"
                                            type="text"
                                            value={(this.state.visitor_found) ? this.state.visitor_name : 'Not found'}
                                        />
                                        <div>
                                            <button class="btn btn-success" disabled={this.state.visitor_found}
                                                    onClick={this.createNewVisitor}>Create New Visitor
                                            </button>
                                        </div>

                                    </div>
                                    <button class="btn btn-primary" onClick={this.onRefresh}>Find</button>
                                    <br/>
                                    &nbsp;
                                    <div class="card">
                                        <div class="card-header">
                                            Record a visit - Current No of Visitor : {this.state.visitor_count}
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-sm-3" for="spnCurrentVisitor">
                                                    Current Visitor
                                                </label>

                                                <span id="spnCurrentVisitor">
                                                {this.state.visitor_found ?
                                                    <span>
                                                        {this.state.found_visitor_name} -
                                                        ({this.state.visitor_found_ic_no} -
                                                        {this.state.visitor_found_contact_number})

                                                    </span>
                                                    :
                                                    "No visitor found"
                                                }
                                            </span>
                                            </div>
                                            <div class="form-group row">
                                                <label for="optBlockID" class="form-label col-sm-2">
                                                    Block
                                                </label>
                                                <select class="form-input col-sm-8" name="optBlockID" id="optBlockID"
                                                        onChange={this.onChange}>
                                                    {condoOptions}
                                                </select>

                                            </div>
                                            <div class="form-group row">
                                                <label for="optUnitName" class="form-label col-sm-2">
                                                    Unit
                                                </label>
                                                <select class="form-input col-sm-8" name="optUnitName" id="optUnitName"
                                                        onChange={this.onChange}>
                                                    {unitOptions}
                                                </select>

                                            </div>

                                            <button id="btnSave" class="btn btn-success" onClick={this.recordVisit}
                                                    disabled={!this.state.visitor_found}>Record Visit
                                            </button>
                                        </div>
                                    </div>

                                    <br/>
                                    <br/>


                                </div>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Last 3 Visit
                                </div>
                                <div class="card-body">
                                    <BlockListComponent visitorunits={this.state.visitorunits}
                                                        refreshTableAction={this.refreshBoth}
                                    />

                                </div>
                            </div>
                        </div>
                    </div>


                    <br/>

                    <br/>


                    <div id="visitorModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Visitor Info - New</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label for="txtVisitorContactNumber" class="col-sm-4">Contact No</label>
                                        <input name="txtVisitorContactNumber" class="form-input" type="text"
                                               value={this.state.contact_number}
                                               onChange={this.onChange}/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtVisitorICNo" class="col-sm-4">IC No(Last 3 digit)</label>

                                        <input class="form-input" name="txtVisitorICNo" type="text"
                                               value={this.state.ic_no}
                                               onChange={this.onChange}/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtVisitorName" class="col-sm-4">Visitor Name</label>

                                        <input class="form-input" name="txtVisitorName" type="text"
                                               value={this.state.visitor_name}
                                               onChange={this.onChange}/>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="btnSaveVisitor" type="button" class="btn btn-primary"
                                            onClick={this.onSaveVisitor}>Save
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                    ;
            }
        }

        const requestDefaultDeleteOption = {
            method: 'DELETE',
            headers: {'Content-Type': 'application/json'},
        }


        const requestDefaultGetOption = {
            method: 'GET',
            headers: {'Content-Type': 'application/json'},
        }

        const requestOptionsPOST = {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
        }

        const requestOptionsPatch = {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
        }


        const requestOptionsPUT = {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
        }

        const url = '/condounits'
        const dateFormat = 'DD/MM/YYYY HH:mm';

        class BlockListComponent extends React.Component {
            constructor(props) {
                super(props);
                this.refreshTable = this.refreshTable.bind(this);
                this.saveCheckOut = this.saveCheckOut.bind(this);
                this.checkOutNow = this.checkOutNow.bind(this);
                this.state = {checkout_time: moment().format(dateFormat)}
                this.onChange = this.onChange.bind(this);
            }


            onChange(e) {
                this.setState({checkout_time: e.target.value})
            }

            checkOutNow(e) {
                this.setState({current_visit_id: e.target.value});
                $("#checkOutModal").modal('toggle');
            }

            saveCheckOut(e) {
                let dataToBeSent = {
                    visitor_unit_id: this.state.current_visit_id,
                    date_checkout: moment(this.state.checkout_time, 'DD/MM/YYYY HH:mm').utc().format()
                }

                console.log(dataToBeSent)
                let requestOption = {
                    ...requestOptionsPatch,
                    body: JSON.stringify(dataToBeSent)
                }

                fetch(`/visitorupdatecheckout/${this.state.current_visit_id}`, requestOption).then((response) => {
                    if (response.status == 200) {
                        alert('Successful save checkout')
                        $("#checkOutModal").modal('toggle');
                        this.refreshTable()
                    } else {
                        response.json().then(data => alert(data))
                    }
                })


            }

            refreshTable() {
                this.props.refreshTableAction();
            }

            onEdit(event) {
                let unit_name = event.target.getAttribute('unit_name');
                this.props.onEditAction(event.target.value, unit_name);
            }

            onDelete(event) {

                let ans = confirm('Are you sure you want to delete this?');

                if (!ans)
                    return;
                let unit_name = event.target.getAttribute('unit_name');

                this.props.onDeleteAction(event.target.value, unit_name);
            }


            render() {
                let rows = '';
                if (this.props.visitorunits)
                    rows = this.props.visitorunits.map(value => {
                        return <tr key={value.id}>
                            <td>
                                {value.block_id}
                            </td>
                            <td>
                                {value.unit_name}
                            </td>
                            <td>
                                {moment(value.date_visited).format(dateFormat)}
                            </td>
                            <td>

                                {(value.date_checkout) ? moment(value.date_checkout).format(dateFormat) :
                                    <button class="btn btn-primary" value={value.id}
                                            onClick={this.checkOutNow}>Check out
                                        now</button>}
                            </td>
                        </tr>
                    })

                return <div>
                    <table class="table">
                        <tr>
                            <th>Block ID</th>
                            <th>Unit Name</th>
                            <th>Date Visited</th>
                            <th>Date Checked Out</th>
                        </tr>
                        {rows}
                    </table>

                    <div id="checkOutModal" class="modal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Checkout Date <input id="txtCheckoutTime" name="txtCheckoutTime" type="text"
                                                         value={this.state.checkout_time}

                                                         onBlur={this.onChange}/>
                                </div>
                                <div class="modal-footer">
                                    <button id="btnSaveCheckout" type="button" class="btn btn-primary"
                                            onClick={this.saveCheckOut}>Save
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>;

            }
        }


        ReactDOM.render(
            <BlockComponent/>,
            document.getElementById('welcome')
        );
    </script>
{% endblock %}